<!-- Ini Page Beranda.ejs -->
<html>
    <head>
        <title>Pegawai | Beranda</title>
        <link rel="stylesheet" href="./css/templateberanda.css"/>
    </head>
    <body>
        <div class="container">
            <div class="logo">
                <a href="/user/beranda"><img alt="logo sekolah"  width="100px" src="./gambar/logo-smk.jpg"/></a>
                <h2><label>BERANDA SISTEM PRESENSI</label></h2>
                <h5><label>Ini Halaman Beranda Front End Sistem Presensi Pegawai v1.0.0</label></h5>
                <h5><label>Silahkan memilih Presensi Anda</label> </h5>
                <h4><label>Anda LogIn pada ID Pegawai <b><u><%= idpegawai %></u></b> </label></h4>

                <span id="tglwaktu"></span>
                <script>
                        var waktu = new Date();
                            var tahun = waktu.getFullYear();
                            var bulan = waktu.getMonth();
                            var tgl = waktu.getDate();
                            var hari = waktu.getDay();
                            var jam = waktu.getHours();
                            var menit = waktu.getMinutes();
                            var sekon = waktu.getSeconds();

                        switch(bulan){
                            case 0:
                            bulan="Januari";
                            break;
                            case 1:
                                bulan="Februari";
                                break;
                            case 2:
                                bulan="Maret";
                                break;
                            case 3:
                                bulan="April";
                                break;
                            case 4:
                                bulan="Mei";
                                break;
                            case 5:
                                bulan="Juni";
                                break;
                            case 6:
                                bulan="Juli";
                                break;
                            case 7:
                                bulan="Agustus";
                                break;
                            case 8:
                                bulan="September";
                                break;
                            case 9:
                                bulan="Oktober";
                                break;
                            case 10:
                                bulan="Nopember";
                                break;
                            case 11:
                                bulan="Desember";
                                break;
                            default:
                            }

                        switch(hari){
                            case 0:
                                hari="Ahad";
                                break;
                            case 1:
                                hari="Senin";
                                break;
                            case 2:
                                hari="Selasa";
                                break;
                            case 3:
                                hari="Rabu";
                                break;
                            case 4:
                                hari="Kamis";
                                break;
                            case 5:
                                hari="Jumat";
                                break;
                            case 6:
                                hari="Sabtu";
                                break;
                            default:   
                            }

                            jam = ("0" + jam).slice(-2);
                            menit = ("0" + menit).slice(-2);
                            sekon = ("0" + sekon).slice(-2);

                            dwaktu= "<b> Hari, Tanggal/Bulan/Tahun Waktu : "+hari+", "+tgl+" "+bulan+" "+tahun+" "+jam+":"+menit+":"+sekon+" WIB </b>";

                            document.getElementById("tglwaktu").innerHTML = dwaktu.toLocaleString();
                </script>
                <h3> || <a href="/user/presensimasuk/:idpegawai">MASUK</a>  || <a href="/user/presensikeluar/:idpegawai">PULANG</a> || </h3> 
                <h3> || <a href="/user/logpresensimasuk/:idpegawai">LOG-PRESENSI_MASUK </a> || <a href="/user/logpresensikeluar/:idpegawai">LOG-PRESENSI_PULANG</a> || </h3> 
                <h5><a href="/user/logout">LOGOUT</a></h5>
            </div>
                      
        </div>
            
    </body>
</html>